<?xml version="1.0"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file" xsi:type="File"
            layout="${longdate}|${logger}|${uppercase:${level}}|${aspnet-request:serverVariable=remote_addr}|${time}|${message}"
            fileName="${basedir}/App_Data/Logs/${shortdate}.txt" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>